/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body {
    margin: 0;
    font-family: "Courier New";
    padding: 0;
      background: linear-gradient(89deg,#FF5EDF 0%,#04C8DE 100%);
  
  }